<div class="l-container-default">
  <div class="l-linkitem-show">
    <h1><%= link_to @link.title, @link.url %></h1>
      <p class="timestamp">Submitted by <%= @link.user.name %></p>
      <%= link_to "visit url", @link.url, class: "btn btn-default btn-primary" %>


      <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-transparent-blue" do %>
        
        Upvote
        <%= @link.get_upvotes.size %>
        <span><%= icon('chevron-up') %></span>
      <% end %>
      <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-transparent-blue" do %>
        
        Downvote
        <%= @link.get_downvotes.size %>
        <span><%= icon('chevron-down') %></span>
      <% end %>


    <% if @link.user == current_user %>
      <div>
        <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-default' %>
        <%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure'}, class: 'btn btn-default' %>
        </div>
    <% end %><br>
    <p>
      <%= link_to 'Back', links_path, class: 'btn btn-default btn-transparent-blue' %>
    </p>
  </div>

  <div class="l-comment-feed">
    <h3><%= @link.comments.count %> Comments</h3>
    <%= render :partial => @link.comments %>

    <% if user_signed_in? %>
      <%= simple_form_for [@link, Comment.new] do |f| %>
        <%= f.text_area :body %><br>
        <%= f.submit 'add comments', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

